<div layout="column" layout-fill="" ng-cloak>
  <toolbar-directive></toolbar-directive>
  <div flex layout-fill="" layout="row">
    <div flex="20" class="md-whiteframe-1dp" layout-padding>
      <md-subheader class="md-no-sticky">
        <md-autocomplete md-selected-item="ctrl.selectedAccountView"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.updateView(item)" md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.email" md-min-length="0" placeholder="Accounts"
          input-aria-labelledby="currentAccountLabel">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.email}}</span>
          </md-item-template>
          <md-not-found>
            No accounts matching "{{ctrl.searchText}}" were found...
          </md-not-found>
        </md-autocomplete>
      </md-subheader>

      <md-list flex style="max-height: 50%; overflow-y: auto;" ng-repeat="(domain, accounts) in ctrl.boxListing">
        <md-subheader class="md-no-sticky">{{ domain }}</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="account in accounts track by $index"
          ng-click="ctrl.updateView(account)">

          <p class="md-list-item-text" layout="column"
            ng-class="{'selected-account': ctrl.accountView.email === account.email}">
            <span>{{ account.handle }}</span>
          </p>

          <span>{{ account.unread }}</span>

        </md-list-item>
      </md-list>

      <md-list flex style="max-height: 40%; overflow-y: auto;">
        <md-subheader class="md-no-sticky">Boxes</md-subheader>
        <md-list-item ng-repeat="box in ctrl.boxes track by $index" ng-click="ctrl.loadBox(box)">
          <div class="md-list-item-text" layout="column" ng-class="{'selected-box': ctrl.selectedBox === box}">
            <span>{{ box }}</span>
          </div>
        </md-list-item>
      </md-list>

    </div>
    <div ng-if="ctrl.inbox.length <= 0" flex="80" layout="row" layout-align="center center">
      <span class="info-shadow" id="welcome-message">{{ ctrl.selectedBox }} is empty!</span>
    </div>
    <div ng-if="ctrl.inbox.length > 0" flex="80">
      <div ui-grid="ctrl.gridOptions" ui-grid-selection ui-grid-auto-resize style="height: calc(100vh - 140px);"></div>
      <div class="md-toolbar-tools">
        <md-button ng-disabled="!ctrl.hasRowsSelected || ctrl.hasRowsSelected != 1"
          class="md-icon-button md-fab md-mini md-warn" aria-label="Reply" ng-click="ctrl.reply('reply')">
          <md-icon class="fa fa-reply"></md-icon>
          <md-tooltip md-direction="top">Reply to Selected</md-tooltip>
        </md-button>
        <md-button ng-disabled="!ctrl.hasRowsSelected || ctrl.hasRowsSelected != 1"
          class="md-icon-button md-fab md-mini md-warn" aria-label="Reply-All" ng-click="ctrl.reply('replyall')">
          <md-icon class="fa fa-reply-all"></md-icon>
          <md-tooltip md-direction="top">Reply-All to Selected</md-tooltip>
        </md-button>
        <md-button ng-disabled="!ctrl.hasRowsSelected" class="md-icon-button md-fab md-mini md-warn" aria-label="Delete"
          ng-click="ctrl.delete()">
          <md-icon class="fa fa-trash-o"></md-icon>
          <md-tooltip md-direction="top">Delete Selected</md-tooltip>
        </md-button>
        <md-checkbox ng-disabled="!ctrl.hasRowsSelected" ng-model="ctrl.purgeAllBoxes"
          aria-label="Purge email from all boxes">
          <span>Purge</span>
          <md-tooltip md-direction="top">Purge email from all boxes?</md-tooltip>
        </md-checkbox>
      </div>
    </div>
  </div>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right"
  style="width: calc(85vw);max-width: calc(85vw);">

  <md-toolbar class="md-theme-light" layout="row">
    <h1 class="md-toolbar-tools">{{ctrl.selectedRow.entity.subject}}</h1>
    <span flex></span>
    <md-button ng-click="ctrl.close()" class="md-icon-button md-mini md-fab md-primary">
      <md-icon class="fa fa-close"></md-icon>
      <md-tooltip>Close</md-tooltip>
    </md-button>
  </md-toolbar>
  <md-content layout-padding>
    <md-tabs md-selected="ctrl.selectedIndex" md-dynamic-height md-swipe-content class="md-no-animation">
      <md-tab ng-repeat="tab in ctrl.tabs" label="{{tab.title}}" ng-cloak>
        <div ng-if="tab.id == 'headers'">
          <md-content flex>
            <div ui-grid="tab.content" ui-grid-auto-resize style="height: calc(70vh);"></div>
          </md-content>
        </div>
        <div ng-if="tab.id == 'attachments'">
          <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Click an item to download it</md-subheader>
            <div ng-repeat="attachment in tab.attachments track by $index">
              <md-list-item ng-click="ctrl.downloadAttachment(attachment)">
                <p>{{ attachment.filename }}</p>
              </md-list-item>
            </div>
          </md-list>
        </div>
        <div ng-if="tab.id != 'headers'">
          <md-button ng-if="tab.id == 'html'" id="sidebar.viewhtml" class="md-button md-raised md-primary"
            aria-label="view html" ng-click="ctrl.renderHTML(tab.content)">
            Render HTML
            <md-tooltip>Render HTML content in new window</md-tooltip>
          </md-button>
          <pre>{{ tab.content }}</pre>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</md-sidenav>