<div layout="column" layout-fill="" ng-cloak>
  <toolbar-directive></toolbar-directive>
  <div layout="column" flex="100">
    <form name="emailSend" id="emailSendForm">
      <md-content layout-gt-sm="row" layout-padding>
        <div layout="column" layout-fill="" class="contactsSearch">

          <md-input-container class="md-block">
            <label>To:</label>
            <md-contact-chips ng-model="ctrl.email.to" md-contacts="ctrl.queryContacts($query)" md-contact-name="name"
              md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i"
              placeholder="Type to search contacts" secondary-placeholder="Add another contact"
              input-aria-label="E-Mail TO">
            </md-contact-chips>
          </md-input-container>

          <md-input-container class="md-block">
            <label>CC:</label>
            <md-contact-chips ng-model="ctrl.email.cc" md-contacts="ctrl.queryContacts($query)" md-contact-name="name"
              md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i"
              placeholder="Type to search contacts" secondary-placeholder="Add another contact"
              input-aria-label="E-Mail TO">
            </md-contact-chips>
          </md-input-container>

          <md-input-container class="md-block" ng-if="ctrl.bccenabled">
            <label>BCC:</label>
            <md-contact-chips ng-model="ctrl.email.bcc" md-contacts="ctrl.queryContacts($query)" md-contact-name="name"
              md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i"
              placeholder="Type to search contacts" secondary-placeholder="Add another contact"
              input-aria-label="E-Mail TO">
            </md-contact-chips>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Subject</label>
            <input type="text" ng-model="ctrl.email.subject" md-maxlength="500" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Message</label>
            <textarea required ng-model="ctrl.email.content" md-maxlength="4096" rows="8" md-select-on-focus></textarea>

            <div class="md-input-message-animation" ng-if="ctrl.errorMessage">
              {{ ctrl.errorMessage }}
            </div>
          </md-input-container>

          <div layout="row" flex="100" layout-align="start start">

            <md-input-container class="md-block emailAttach" flex="30">
              <input name="attachments" multiple type="file" class="" aria-label="attach a file" id="emailAttachments"
                alt="attach a file" />
            </md-input-container>

            <span flex></span>

            <md-input-container class="md-block" flex="30">
              <label>From</label>
              <md-select ng-model="ctrl.accountView" multiple="false" ng-change="ctrl.updateView()">
                <md-option ng-repeat="account in ctrl.linkedAccounts track by $index" ng-value="account.email">
                  {{ account.email }}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex="15">
              <label>Transport</label>
              <md-select ng-model="ctrl.selectedTransport" multiple="false">
                <md-option ng-repeat="transport in ctrl.transports track by $index" ng-value="transport.id" ng-selected="$first">
                  {{ transport.status }}: {{ transport.title }}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block">
              <md-input type="button" class="md-button md-raised md-secondary" aria-label="Add BCC"
                ng-click="ctrl.toggleBCC()">
                <span ng-if="!ctrl.bccenabled">Show BCC</span>
                <span ng-if="ctrl.bccenabled">Hide BCC</span>
                <md-tooltip>Add BCC</md-tooltip>
              </md-input>
            </md-input-container>

            <md-input-container class="md-block">
              <md-input type="reset" class="md-button md-raised md-warn" aria-label="Reset" ng-click="ctrl.reset()">
                <span>Reset</span>
                <md-tooltip>Clear the form</md-tooltip>
              </md-input>
            </md-input-container>

            <md-input-container class="md-block">
              <md-input type="submit" ng-disabled="emailSend.$invalid" class="md-button md-raised md-primary"
                aria-label="Submit" ng-click="ctrl.send()">
                <span>Submit</span>
                <md-tooltip>Request linking the identified account with this one</md-tooltip>
              </md-input>
            </md-input-container>

          </div>

        </div>
      </md-content>
    </form>
  </div>
</div>