<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mailpipe</title>

    <base href="/" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  </head>
  <body
    ng-cloak
    ng-app="mailpipe"
    layout="column"
  >
    <div ng-view layout-fill="">
    </div>
    <script type="text/javascript">
      String.prototype.width = function(text) {
        o = document.createElement("div");
        o.innerHTML = this
        o.style = "position: absolute; float: left; 'white-space': nowrap; visibility: hidden;"
        document.getElementsByTagName('body')[0].append(o);
        const w = o.offsetWidth;
        o.remove();
        return w;
      }
    </script>
  </body>
</html>
