<div layout="column" layout-fill="" ng-cloak>
  <toolbar-directive></toolbar-directive>
  <div layout="column" flex="100" layout-align="center center">
    <md-content layout-align="top left">
      <form name="emailRequestLink" id="emailRequestLinkForm">
        <md-content layout-gt-sm="row" layout-padding>
          <div layout="row">
            <md-input-container class="md-block">
              <label>Email Address</label>
              <input
                required
                type="email"
                name="emailAddress"
                ng-model="ctrl.request.email"
                minlength="6"
                maxlength="100"
                ng-pattern="/^.+@.+\..+$/"
              />
              <div ng-messages="emailRequestLink.clientEmail.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 6 and 100 characters long and look like an e-mail address.
                </div>
              </div>
              <div class="md-input-message-animation" ng-if="ctrl.errorMessage">
                {{ ctrl.errorMessage }}
              </div>
            </md-input-container>

            <md-button ng-disabled="emailRequestLink.$invalid" class="md-button md-raised md-primary" aria-label="Submit" ng-click="ctrl.requestAccountLink()">
              <span>Submit Account View Request</span>
              <md-tooltip>Request linking the identified account with this one</md-tooltip>
            </md-button>
          </div>
        </md-content>
      </form>

      <md-list ng-cloak ng-if="ctrl.linkedAccounts.length > 0">
        <md-subheader class="md-no-sticky">Approved account view requests</md-subheader>
        <div ng-repeat="link in ctrl.linkedAccounts track by $index">
          <md-list-item ng-click="">
            <p>{{ link.email }}</p>
            <md-icon class="md-secondary md-hue-3 fa fa-trash" ng-click="ctrl.deleteLink(link, 'link')"></md-icon>
          </md-list-item>
        </div>
      </md-list>

      <md-divider md-inset="" ng-cloak ng-if="ctrl.requestedAccountLinks.length > 0"></md-divider>

      <md-list ng-cloak ng-if="ctrl.requestedAccountLinks.length > 0">
        <md-subheader class="md-no-sticky">Requests to view this account</md-subheader>
        <div ng-repeat="link in ctrl.requestedAccountLinks track by $index">
          <md-list-item ng-click="">
            <p>{{ link.email }} - {{ link.status }}</p>
            <md-icon ng-class="link.classDown" class="md-secondary md-hue-3 fa" ng-click="ctrl.setLinkStatus(link, 'denied')">
            </md-icon>
            <md-icon class="md-secondary md-hue-3 fa fa-trash" ng-click="ctrl.deleteLink(link, 'access')"></md-icon>
            <md-icon ng-class="link.classUp" class="md-secondary md-hue-3 fa" ng-click="ctrl.setLinkStatus(link, 'accepted')">
            </md-icon>
          </md-list-item>
        </div>
      </md-list>
    </md-content>
  </div>
</div>
