<md-content layout="column" layout-align="center center" style="min-height:500px;height: 100%; margin-top:-60px;">
  <md-content>
    {{ctrl.error}}
  </md-content>
  <md-input-container style="margin-bottom:0px;max-height:30px">
    <label>Username</label>
    <md-icon class="fa fa-user"></md-icon>
    <input type="text" id="login.username" ng-model="ctrl.user.email" autofocus>
  </md-input-container>
  <md-input-container style="max-height:30px"">
    <label>Password</label>
    <md-icon class="fa fa-key"></md-icon>
    <input type="password" id="login.password" ng-model="ctrl.user.password" ng-keyup="$event.keyCode == 13 && ctrl.user.email != '' && ctrl.authenticate()">
  </md-input-container>
  <md-button id="login.submit" class="md-raised md-primary" aria-label="Login" style="width:100%;max-width:300px;" ng-click="ctrl.authenticate()">
    <md-icon class="fa fa-check"></md-icon>
    Login
  </md-button>
</md-content>
