<div layout="column" layout-fill="" ng-cloak>
  <toolbar-directive></toolbar-directive>
  <div layout="row" flex="100" layout-align="center center">
    <form name="passwordChangeForm" id="passwordChangeFormId">
      <md-content layout="row" layout-padding>
        <div layout="column">

          <md-input-container class="md-block">
            <label>Current Password</label>
            <input required type="password" name="currentPassword" ng-model="ctrl.request.currentPassword"
              maxlength="100" />
            <div ng-messages="passwordChangeForm.currentPassword.$error" role="alert">
              <div ng-message-exp="['required']">
                Your current password is required
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>New Password</label>
            <input required type="password" name="newPassword" ng-model="ctrl.request.newPassword" maxlength="100" />
            <div ng-messages="passwordChangeForm.newPassword.$error" role="alert">
              <div ng-message-exp="['required']">
                You must provide a new password
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Confirm New Password</label>
            <input required type="password" name="newPasswordConfirm" ng-model="ctrl.request.newPasswordConfirm"
              maxlength="100" />
            <div ng-messages="passwordChangeForm.newPasswordConfirm.$error" role="alert">
              <div ng-message-exp="['required']">
                You must confirm your new password
              </div>
            </div>
          </md-input-container>

          <md-button
            ng-disabled="ctrl.request.newPassword === ctrl.request.currentPassword || passwordChangeForm.$invalid || (ctrl.request.newPassword != ctrl.request.newPasswordConfirm)"
            class="md-button md-raised md-primary" aria-label="Submit" ng-click="ctrl.changePassword()">
            <span>Submit</span>
            <md-tooltip>Request a change to your current password</md-tooltip>
          </md-button>

          <md-input-container>
            <div class="md-input-message-animation" ng-if="ctrl.request.newPassword != ctrl.request.newPasswordConfirm">
              Your new passwords must match!
            </div>

            <div class="md-input-message-animation" ng-if="ctrl.request.newPassword == ctrl.request.currentPassword">
              You may not use your old password!
            </div>

            <div class="md-input-message-animation" ng-if="ctrl.errorMessage">
              {{ ctrl.errorMessage }}
            </div>
          </md-input-container>
        </div>
      </md-content>
    </form>
  </div>
</div>