<div layout="column" layout-fill="">
  <md-toolbar class="md-hue-2" layout="column">
    <div class="md-toolbar-tools">

      <h2 md-truncate>Welcome {{ ctrl.user.email }}</h2>

      <md-button href="#!/boxes" class="md-button md-raised md-primary" aria-label="Boxes">
        <span>Boxes</span>
        <md-tooltip>Boxes for this account</md-tooltip>
      </md-button>

      <md-button href="#!/links" class="md-button md-raised md-primary" aria-label="Linked Accounts">
        Linked Accounts
        <md-tooltip>Manage linked accounts</md-tooltip>
      </md-button>

      <md-button href="#!/password" class="md-button md-raised md-primary" aria-label="Account Password">
        Password
        <md-tooltip>Change this accounts password</md-tooltip>
      </md-button>

      <md-button href="#!/send/new/0/0/0" class="md-button md-raised md-primary" aria-label="Send E-Mail">
        Send E-Mail
        <md-tooltip>Send an E-Mail</md-tooltip>
      </md-button>

      <md-button href="#!/transports" class="md-button md-raised md-primary" aria-label="Transports">
        Transports
        <md-tooltip>Transports</md-tooltip>
      </md-button>

      <span flex></span>

      <md-button id="toolbar.logout" class="md-button md-raised md-primary" aria-label="Logout" ng-click="ctrl.logout()">
        Logout
        <md-tooltip>Logout of session</md-tooltip>
      </md-button>
    </div>
    <md-progress-linear ng-if="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>
</div>