<div layout="column" layout-fill="" ng-cloak>
  <toolbar-directive></toolbar-directive>
  <div layout="row" flex="100" layout-align="center center">
    <md-content layout-align="center center" flex="45" style="max-height:75%;">
      <form name="addTransportForm" id="addTransportFormId">
        <md-content layout-gt-sm="row" layout-padding>
          <div layout="column">

            <md-input-container class="md-block" flex="30">
              <label>Type</label>
              <md-select ng-model="ctrl.transport.type" multiple="false">
                <md-option ng-repeat="type in ctrl.types track by $index" ng-value="type">
                  {{ type | uppercase }}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Title</label>
              <input required type="text" name="transportTitle" ng-model="ctrl.transport.title" minlength="6"
                maxlength="60" ng-pattern="/^[a-zA-Z0-9 _.]+$/" />
              <div ng-messages="addTransportForm.transportTitle.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  The transport title must be 6 to 60 characters long and may contain: A-Z, a-z, 0-9, space, dot, and
                  underscores.
                </div>
              </div>
              <div class="md-input-message-animation" ng-if="ctrl.errorMessage">
                {{ ctrl.errorMessage }}
              </div>
            </md-input-container>

            <!--    I'm not sure why this doesn't work...is really annoying...oh well... TODO...
            <md-input-container class="md-block" flex="30"
              ng-repeat="(k,v) in ctrl.transportTypes[ctrl.transport.type] track by $index">
              <label>{{ k | uppercase }}</label>

              <input ng-required="v.required" type="{{v.type}}" name="transport{{k}}" model="ctrl.transport['{{k}}']"
                minlength="{{v.min}}" maxlength="{{v.max}}" value="{{v.value}}" ng-pattern="v.pattern" />
              <div ng-messages="addTransportForm.transport{{k}}.$error" style="color:maroon" role="alert">
                <div ng-message="required">You did not enter a field</div>
                <div ng-message="minlength">Your field is too short</div>
                <div ng-message="maxlength">Your field is too long</div>
                <div ng-message-default>
                  This field is required and has a min length of {{v.min}} and a max length of {{v.max}} matching
                  pattern: {{v.pattern}}
                </div>
              </div>
            </md-input-container>
-->

            <div ng-if="ctrl.transport.type === 'simple'">

              <md-input-container class="md-block">
                <label>Host</label>
                <input required type="text" name="transportHost" ng-model="ctrl.transport.host" minlength="4" maxlength="256" />
                <div ng-messages="addTransportForm.transportHost.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport host must be 13 to 256 characters long and be a valid URL.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Port</label>
                <input required type="number" name="transportPort" ng-model="ctrl.transport.port" minlength="1"
                  maxlength="5" />
                <div ng-messages="addTransportForm.transportPort.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport port must be 1 to 5 numbers long.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Username</label>
                <input type="text" name="transportUsername" ng-model="ctrl.transport.username"
                  minlength="1" maxlength="64" />
                <div ng-messages="addTransportForm.transportUsername.$error" role="alert">
                  <div ng-message-exp="['minlength', 'maxlength']">
                    The transport username must be 1 to 64 characters long.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="transportPassword" ng-model="ctrl.transport.password"
                  minlength="1" maxlength="64" />
                <div ng-messages="addTransportForm.transportPassword.$error" role="alert">
                  <div ng-message-exp="['minlength', 'maxlength']">
                    The transport password must be 1 to 64 characters long.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Email Footer</label>
                <input type="text" name="transportFooter" ng-model="ctrl.transport.footer" minlength="0"
                  maxlength="512" />
                <div ng-messages="addTransportForm.transportFooter.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport password must be 0 to 256 characters long.
                  </div>
                </div>
              </md-input-container>

            </div>

            <div ng-if="ctrl.transport.type === 'sendgrid'">

              <md-input-container class="md-block">
                <label>URL</label>
                <input required type="url" name="transportURL" ng-model="ctrl.transport.url" minlength="13"
                  maxlength="256" />
                <div ng-messages="addTransportForm.transportURL.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport host must be 13 to 256 characters long and be a valid URL.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>API Key</label>
                <input required type="text" name="transportAPIKey" ng-model="ctrl.transport.apikey" minlength="1"
                  maxlength="256" />
                <div ng-messages="addTransportForm.transportAPIKey.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport port must be 1 to 256 characters long.
                  </div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Email Footer</label>
                <input type="text" name="transportFooter" ng-model="ctrl.transport.footer" minlength="0"
                  maxlength="512" />
                <div ng-messages="addTransportForm.transportFooter.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    The transport password must be 0 to 256 characters long.
                  </div>
                </div>
              </md-input-container>

            </div>

            <md-button ng-disabled="addTransportForm.$invalid" class="md-button md-raised md-primary" aria-label="Submit"
              ng-click="ctrl.add(ctrl.transport)">
              <span>Add Transport</span>
              <md-tooltip>A another transport for sending emails</md-tooltip>
            </md-button>
          </div>
        </md-content>
      </form>
    </md-content>

    <md-list ng-cloak ng-if="ctrl.transports.length > 0" flex="35" style="height:65%;overflow:auto;">
      <md-subheader class="md-no-sticky">Transports</md-subheader>
      <div ng-repeat="transport in ctrl.transports track by $index">
        <md-divider ng-if="ctrl.transports[$index-1].status == 'sitewide' && ctrl.transports[$index].status == 'account'"></md-divider>
        <md-list-item ng-click="ctrl.edit(transport)">
          <p>{{ transport.title }} - {{ transport.status }}</p>
          <md-icon ng-if="transport.status == 'account'"  aria-label="remove" class="md-secondary md-hue-3 fa fa-trash" ng-click="ctrl.delete(transport)"></md-icon>
        </md-list-item>
      </div>
    </md-list>
  </div>
</div>