html {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.ui-grid-row {
  cursor: pointer;
}

md-tab-content {
  overflow: auto !important;
  transition: none !important;
  animation: none !important;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-cly1 {
  text-align: left;
  vertical-align: middle
}

.md-tabs {
  transition: none !important;
}

md-tab-content.md-left:not(.md-active) {
  animation: none;
}

md-tabs.md-no-animation md-tab-content {
  transition: none;
  transition-delay: 0s;
  animation: none;
}

md-tabs.md-no-animation md-ink-bar {
  transition: none;
  transition-delay: 0s;
  animation: none;
}

md-tab-content.md-left:not(.md-active) * {
  transition: none;
  transition-delay: 0s;
  animation: none;
}

md-tab-content.md-right:not(.md-active) * {
  transition: none;
  transition-delay: 0s;
  animation: none;
}

.selected-account {
  font-weight: bold;
  border-bottom: 1px solid rgba(36, 91, 45, 0.5);
}

.selected-box {
  font-weight: bold;
}

.info-shadow {
  text-shadow: 1px 1px 2px rgba(36, 91, 45, 0.5);
  font-size: 2em;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  min-width: 450px !important;
}

.capitalizeFirst:first-letter {
  text-transform: capitalize;
}

input#emailAttachments {
  border: 0px;
  height: 40px;
  cursor: pointer;
}

.email-unread {
  font-weight: bolder;
}

.email-read {
  font-weight: lighter;
}